<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择页面</title>
</head>
<body>

<p>{{ message }}</p>
<h2>
<a href="/select_page/">主页</a>
</h2>
<a href="/get_stock_list_csv/">下载股票列表.csv</a>
<br><br>
<a href="/load_stock_list_csv/">上传股票列表.csv</a>
<br><br>
<form method='GET' action='/get_stock_k_data_csv/'>
    <input type="submit" value='下载股票日线数据.csv'>
    起始日期：<input type='date' name='start_date' value='2020-01-01'>
    结束日期：<input type='date' name='end_date' value={{ today }}>
</form>
<br>
<a href="/empty_stock_k_data/">清空日线数据</a>
<br><br>
<a href="/load_stock_data_csv/">上传股票日线数据,初始化MA指标</a>
<br><br>

<a href="/update_stock_MA_data/">更新移动平均线MA指标</a>
<br><br>

<a href="/Three_sheep_went_up_the_mountain/">策略选股：三羊上山</a>
<br><br>

<form method='GET' action='/see_Three_sheep_went_up_the_mountain/'>
    <input type="submit" value='查看选股：三羊上山'>
    日期：<input type='date' name='start_date' value={{ today }}>
</form>
<br><br>


</body>
</html>